.body {
    font-family: sans-serif;
    display: block;
}

.paragraph-main {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.header-main {
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    font-size: 64px;
    color: #1F3F68;
}

.header-contact-us {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.what-we-do {
    padding-top: 48px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.header-mini {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 14px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.input-textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.btn-submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top {
    display: block;
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.header-main {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(/img/top__back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.text-main {
    width: 425px;
}

.what-we-do {
    display: block;
    Justify-content: center;
    position: relative;
}

.cards {
    display: flex;
    Justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

.project__img {
    width: 100%;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__item_margin {
    margin-right: 32px;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project__text_mini {
    top: 32px;
    left: 32px;
    text-align: left;
}


.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.footer-box {
    padding-bottom: 96px;
    display: flex;
    Justify-content: space-between;
    align-items: center;
}

.footer__top {
    display: block;
    width: 495px;
    position: relative;
    margin-top: 6%;
}

.footer-top-header {

    width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #FFFFFF;
}

.footer-top-text {
    color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 96px;
}

.hr-line {
    opacity: 0.4;
    width: 100%;
    position: relative;
    overflow: visible;
}

.footer__bottom {
    display: block;
    Justify-content: center;
    flex-shrink: 0;
    background: #316099;
    height: 266px;
}

.footer__button-box {
    text-align: center;
    display: block;
    padding: 15px 80px;
}

.footer-button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
}

.сontainer-bottom {
    display: flex;
    Justify-content: space-between;
}

.footer-contacts {
    margin-top: 64px;
    display: flex;
    Justify-content: space-between;

}

.footer__list {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}

.container-bottom-box {
    display: flex;
    flex-direction: column;
}

.footer-rights {
    display: flex;
    margin-top: 64px;
}

.footer__content-box {
    width: 495px;
}

.footer-contacts-address::before {
    content: 'A.';
    display: block;
    margin-right: 16px;
}

.footer-contacts-phone::before {
    content: 'T.';
    display: block;
    margin-right: 16px;
}

.footer-contacts-email::before {
    content: 'E.';
    display: block;
    margin-right: 16px;
}

.footer__copy-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

@media (max-width: 1024px) {
    .top {
        padding-left: 32px;
        padding-right: 32px;
        width: auto;

    }

    .container {
        padding-left: 32px;
        padding-right: 32px;
        width: auto;
    }

    .top__info {
        background-position: right 280px;
        height: 500px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .container-bottom-box {
        flex-direction: column;
        align-items: center;
    }

    .footer-contacts {
        flex-direction: column;
        align-items: left;
    }

    .footer__list {
        margin-bottom: 25px;
    }

    .footer__button-box {
        padding: 0;
    }

    .footer-rights {
        margin-top: auto;
        align-items: left;
    }

    .footer-content-box {
        display: flex;
        flex-direction: column;
        height: 644px;

    }

    .footer__content-box {
        width: auto;
        align-items: center;
    }

    .footer-button {
        padding: 10px 40px;
    }

    .footer {
        height: 270px;
        padding-top: 0;
        padding-bottom: 64px;
    }

    .footer__top {
        margin-top: 0;
        width: 336px;
    }

    .footer-box {
        Justify-content: center;
        align-items: center;
        margin-top: 47px;
    }
}

@media (max-width: 667px) {
    .header-menu {
        padding-top: 24px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
        padding-left: 32px;
        padding-right: 32px;
        width: auto;
    }

    .header-main {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
    }

    .text-main {
        width: 100%;
        text-align: center;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .what-we-do {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .cards {
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }

    .text_project {
        width: 100%;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project__text_mini {
        left: 16px;
    }

    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project__item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer {
        justify-content: center;
        flex-direction: column;
        height: 310px;
        width: auto;
    }

    .footer-box {
        display: flex;
        flex-direction: column;
        margin-top: 18px;
    }

    .footer-content-box {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .footer__top {
        margin-top: 0;
        width: 336px;
        display: flex;
        flex-direction: column;
    }

    .footer-top-header {
        text-align: center;
    }

    .footer-top-text {
        text-align: center;
        padding-top: 32px;
        padding-bottom: 40px;
    }

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer-button {
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;

    }

    .footer__bottom {}

    .footer-contacts {
        margin-top: 32px;
    }
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-content-box {
    flex-grow: 1;
}

.footer-content-box {}

.header-contact-us {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.top-header-contact-us {
    max-height: 350px;
    display: flex;
}

.top-header-contact-us {
    display: block;
    Justify-content: center;
}

.header-contact-us {
    background-image: url(/img/contacts_header.svg);
    flex-grow: 1;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    Justify-content: center;
    padding-bottom: 60px;
    background-size: 100%;
}

.contacts-text-main {
    display: flex;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    max-width: 780px;
}

.contacts-text-main-box {
    display: flex;
    Justify-content: center;
}

.contacts-text-main-box {
    font-size: 44px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-align: center;
}

.contacts-info-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 64px;
    padding-bottom: 64px;

}

.contacts-info {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contact-main-box {
    display: block;
    Justify-content: center;
    position: relative;
}

.hackerman {
    max-width: 310px;

}

.send-message {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 540px;
    display: flex;
    flex-direction: column;
}

.send-us-message-box {

    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.contacts-input-info-box {
    padding-top: 56px;
    padding-left: 56px;
    display: flex;
    Justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

.fullName {}

.input-textarea-mini {
    width: 428px;
    height: 72px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
}

.input-textarea-large {
    width: 428px;
    height: 144px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
}

input::placeholder {
    padding-left: 36px;
}

textarea::placeholder {
    padding-left: 36px;
    padding-top: 21px;
}

.btn-submit-box {
    width: 428px;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.btn-submit {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex-grow: 1;
    border: 0;
}

.contacts-info-head-name {
    padding-top: 48px;
    padding-bottom: 8px;

}

.contacts-info-head-email {
    padding-top: 32px;
    padding-bottom: 8px;

}

.btn-submit-box-container {
    padding-top: 72px;
    padding-bottom: 56px;
}


.contacts-info-head-message {
    padding-top: 32px;
    padding-bottom: 8px;
}

.text-link {
    text-decoration: none;
}

.ul-link-email {
    padding-left: 24px;
    list-style-image: url('/img/email.svg');
}

.ul-link-site {
    padding-left: 24px;
    list-style-image: url('/img/world.svg');
}

.ul-phones {
    padding-top: 24px;
    padding-left: 24px;
    text-decoration: none;
    list-style-image: url('/img/phone.svg');
}

.address-box-header {
    padding-top: 56px;
    flex-grow: 1;
}

.phone-box-header {
    flex-grow: 1;
}

.online-box-header {
    flex-grow: 1;
}

.address-box-header-text {
    padding-top: 24px;
}

.text-phone-ul {
    padding-left: 15px;
}

.text-link-site-ul {
    padding-left: 15px;
    padding-bottom: 5px;
}

.text-link-email-ul {
    padding-left: 15px;
    padding-bottom: 5px;
}